body {
	background: url("./images/hordes-background.jpg");
	background-attachment: fixed;
	background-position: top-center;
	background-repeat: no-repeat;
	background-color: #100c0b;
	color: lightgray;
}
